{{define "footer"}}
</div>
</main>

<footer>
    <div class="bg-primary py-5 text-center">
      <p>&copy; 2024 by <a href="https://jiaking.top" class="text-reset"> jiaking </a> </p>
    </div>
</footer>
    <script src="/static/js/bootstrap.bundle.js"></script>
  </body>
</html>
{{end}}